.wp-block-my-catalog-news-carousel {

	.components-disabled {
		opacity: 1;
	}
}

.my-catalog-news-carousel__control-state {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 40px;
}
